/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100em;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body {
  line-height: 1;
}

/* line 34, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
ol, ul {
  list-style: none;
}

/* line 37, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
blockquote, q {
  quotes: none;
}

/* line 40, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    chronicler.css Start
*/
/* line 54, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body {
  background-image: url(../img/woodtexture5.jpg);
  background-repeat: repeat;
}

/* line 58, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

/* line 63, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body a {
  text-decoration: none;
  color: black;
}

/* line 68, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body p {
  margin-bottom: 15px;
  line-height: 1.5em;
  text-indent: 1.5em;
}

/* line 74, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs {
  background-image: url(../img/seamless_paper.jpg);
  background-repeat: repeat;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* line 82, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs h1 {
  font-size: 3.8em;
  line-height: 0.8em;
}

/* line 87, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs hr {
  color: black;
  width: 50%;
}

/* line 92, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs #site_navigation {
  font-size: 2em;
  margin-top: 0;
}

/* line 96, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs #site_navigation li {
  padding-right: 4%;
  display: inline;
}

/* line 101, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs #site_navigation .mobile_spacing {
  display: none;
}

/* line 107, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs {
  float: left;
  width: 15%;
  padding-top: 10px;
  text-align: center;
  background-image: url(../img/seamless_paper.jpg);
  background-repeat: repeat;
  margin-bottom: 25px;
  margin-right: 1.5%;
}

/* line 117, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_label {
  font-size: 1.5em;
}

/* line 121, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_sublabel {
  font-size: 1em;
  font-style: italic;
}

/* line 126, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_list {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* line 130, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_list li {
  padding-top: 10px;
  display: list-item;
}

/* line 136, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs .deactivated_link {
  text-decoration: line-through;
}

/* line 141, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs {
  background-image: url(../img/seamless_paper.jpg);
  background-repeat: repeat;
  float: left;
  width: 80.5%;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 25px;
}

/* line 152, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #page_title {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5em;
}

/* line 160, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #page_subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 2em;
}

/* line 167, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #warning_note {
  font-size: 1.25em;
  line-height: 1.25em;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

/* line 175, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs p {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 180, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #download_header {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

/* line 186, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #download_list {
  text-align: center;
  font-size: 1.25em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 192, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #download_list li {
  display: inline;
}

/* line 197, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #chronicle_table.dfs {
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 97%;
  table-layout: fixed;
  white-space: nowrap;
}

/* line 206, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #chronicle_table.dfs tr th, body #main_content.dfs #chronicle_table.dfs tr td {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 2px black;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 216, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #chronicle_table.dfs #channel_name_column, body #main_content.dfs #chronicle_table.dfs #channel_owner_column,
body #main_content.dfs #chronicle_table.dfs #warning_list_column, body #main_content.dfs #chronicle_table.dfs #date_column {
  width: 25%;
}

/* line 222, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs ol {
  list-style-type: decimal;
  margin-left: 10em;
  margin-right: 10em;
  padding-bottom: 15px;
}

/* line 228, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs ol li {
  padding-top: 15px;
}

/* line 233, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #future_features {
  list-style-type: circle;
  margin-left: 10em;
  margin-right: 10em;
}

/* line 239, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #future_features li {
  padding-top: 15px;
}

/* line 245, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #getBot_link {
  font-size: 1.5em;
  text-decoration: underline;
  padding-top: 30px;
  margin-left: 15em;
  margin-right: 15em;
}

/* line 253, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs form {
  margin-left: 30%;
  margin-right: 30%;
}

/* line 258, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #page_list {
  padding-bottom: 25px;
  font-size: 1.25em;
  text-align: center;
}

/* line 263, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #page_list li {
  padding-right: 3%;
  display: inline-flex;
}

/* line 268, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content.dfs #page_list #current_page {
  font-size: 2em;
  font-weight: bold;
}

/* line 275, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs {
  background-image: url(../img/seamless_paper.jpg);
  background-repeat: repeat;
  clear: both;
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 20px;
}

/* line 283, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs #footer_navigation {
  text-align: center;
  margin-bottom: 20px;
}

/* line 287, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs #footer_navigation li {
  padding-right: 4%;
  font-size: 2em;
  display: inline;
}

/* line 294, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs .mobile_spacing {
  display: none;
}

/* line 298, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs #copyright {
  font-size: 0.75em;
  text-align: right;
  margin-left: 85%;
  margin-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 950px) {
  /* line 312, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body #wrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
  /* line 319, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body header.dfs #site_navigation {
    margin-top: 15px;
  }
  /* line 322, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body header.dfs #site_navigation .mobile_spacing {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 330, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body #sidebar.dfs {
    float: initial;
    margin-right: 0em;
    width: 100%;
  }
  /* line 335, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body #sidebar.dfs #sidebar_list {
    padding-bottom: 15px;
    font-size: 1em;
  }
  /* line 339, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body #sidebar.dfs #sidebar_list li {
    display: inline;
    padding-top: initial;
    padding-right: 4%;
  }
  /* line 347, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body #main_content.dfs {
    width: 97%;
  }
  /* line 352, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body footer.dfs .mobile_spacing {
    display: block;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  /* line 358, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
  body footer.dfs #copyright {
    margin-left: 75%;
  }
}

/*# sourceMappingURL=../css/chronicler.map */