/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100em;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body {
  line-height: 1;
}

/* line 34, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
ol, ul {
  list-style: none;
}

/* line 37, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
blockquote, q {
  quotes: none;
}

/* line 40, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    chronicler.css Start
*/
/* line 54, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body {
  background-image: url(../img/woodtexture5.jpg);
  background-repeat: repeat;
}

/* line 58, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #wrapper {
  margin-left: 5em;
  margin-right: 5em;
}

/* line 63, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body a {
  text-decoration: none;
  color: black;
}

/* line 68, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body p {
  margin-bottom: 15px;
  line-height: 1.5em;
  text-indent: 1.5em;
}

/* line 74, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs {
  background-image: url(../img/crumpled-paper-texture-a.png);
  background-repeat: repeat;
  margin-bottom: 25px;
  text-align: center;
}

/* line 80, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs h1 {
  font-size: 3.8em;
  line-height: 0.8em;
}

/* line 85, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs hr {
  color: black;
  width: 50em;
}

/* line 90, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs #site_navigation {
  font-size: 2.5em;
  padding-left: 18em;
}

/* line 94, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body header.dfs #site_navigation li {
  padding-right: 5em;
  display: inline;
}

/* line 101, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs {
  float: left;
  width: 15em;
  padding-top: 10px;
  text-align: center;
  background-image: url(../img/crumpled-paper-texture-a.png);
  background-repeat: repeat;
  margin-bottom: 10px;
  margin-right: 2.5em;
}

/* line 111, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_label {
  font-size: 2.5em;
}

/* line 115, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_sublabel {
  font-size: 2em;
  font-style: italic;
}

/* line 120, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_list {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* line 124, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs #sidebar_list li {
  padding-top: 10px;
}

/* line 129, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #sidebar.dfs .deactivated_link {
  text-decoration: line-through;
}

/* line 136, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content {
  width: 176em;
  background-image: url(../img/crumpled-paper-texture-a.png);
  background-repeat: repeat;
  float: left;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 10px;
}

/* line 147, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #page_title {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 155, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #page_subtitle {
  font-size: 2em;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

/* line 162, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #warning_note {
  font-size: 1.5em;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

/* line 169, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #chronicle_table {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 20px;
  width: 170em;
  table-layout: fixed;
}

/* line 176, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #chronicle_table tr th, body #main_content_cover.dfs #main_content #chronicle_table tr td {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 2px black;
}

/* line 183, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #chronicle_table .channel_status_data, body #main_content_cover.dfs #main_content #chronicle_table .channel_name_data, body #main_content_cover.dfs #main_content #chronicle_table .channel_owner_data,
body #main_content_cover.dfs #main_content #chronicle_table .warning_list_data, body #main_content_cover.dfs #main_content #chronicle_table .date_data {
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/* line 191, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #page_list {
  margin-left: 25em;
  margin-right: 25em;
  padding-bottom: 25px;
}

/* line 197, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body #main_content_cover.dfs #main_content #page_list_num, body #main_content_cover.dfs #main_content #ellipses {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 205, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs {
  background-image: url(../img/crumpled-paper-texture-a.png);
  background-repeat: repeat;
  clear: both;
  margin-top: 25px;
  padding-top: 10px;
}

/* line 212, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs .footer_section {
  padding-left: 5em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  display: inline;
}

/* line 220, C:/xampp/htdocs/dyn_ChroniclerSite/scss/chronicler.scss */
body footer.dfs #copyright {
  font-size: 0.75em;
  text-align: right;
  margin-left: 85em;
  margin-top: 40px;
}

/*# sourceMappingURL=../css/chronicler.map */