/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100em;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    chronicler.css Start
*/

body {
    background-image: url(../img/woodtexture5.jpg);
    background-repeat: repeat;

    #wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.5em;
        text-indent: 1.5em;
    }

    header.dfs {
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        margin-bottom: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;

        h1 {
            font-size: 3.8em;
            line-height: 0.8em;
        }

        hr {
            color: black;
            width: 50%;
        }

        #site_navigation {
            font-size: 2em;

            li {
                padding-right: 4%;
                display: inline;
            }
        }
    }

    #sidebar.dfs {
        float: left;
        width: 15%;
        padding-top: 10px;
        text-align: center;
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        margin-bottom: 25px;
        margin-right: 1.5%;

        #sidebar_label {
            font-size: 1.75em;
        }

        #sidebar_sublabel {
            font-size: 1.25em;
            font-style: italic;
        }

        #sidebar_list {
            padding-top: 15px;
            padding-bottom: 10px;

            li {
                padding-top: 10px;
                display: list-item;
            }
        }

        .deactivated_link {
            text-decoration: line-through;
        }
    }

    #main_content.dfs {
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        float: left;
        width: 80.5%;
        text-align: left;
        padding-bottom: 20px;
        padding-left: 1.5%;
        padding-right: 1.5%;
        margin-bottom: 25px;

        #page_title {
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 2.5em;
        }

        #page_subtitle {
            text-align: center;
            font-style: italic;
            margin-bottom: 20px;
            font-size: 2em;
        }

        #warning_note {
            font-size: 1.25em;
            font-style: italic;
            text-decoration: underline;
            text-align: center;
        }

        p {
            font-size: 1em;
            line-height: 1.5em;
        }

        #chronicle_table.dfs {
            margin-left: 1.5%;
            margin-right: 1.5%;
            margin-top: 20px;
            width: 95%;
            table-layout: fixed;

            tr th, tr td {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                border: solid 2px black;
            }

            tr td {
                text-overflow: ellipsis;
                word-wrap: break-word;
            }

            #channel_status_column {
                width: 5%;
            }

            #channel_name_column, #channel_owner_column,
            #warning_list_column {
                width: 25%;
            }

            #date_column {
                width: 15%;
            }
        }

        #page_list {
            padding-bottom: 25px;
            font-size: 1.25em;
            text-align: center;

            li {
                padding-right: 3%;
                display: inline;
            }

            #current_page {
                font-size: 2em;
                font-weight: bold;
            }
        }
    }

    footer.dfs {
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        clear: both;
        margin-top: 40px;
        padding-top: 25px;
        padding-bottom: 20px;

        #footer_navigation {
            text-align: center;
            margin-bottom: 20px;

            li {
                padding-right: 4%;
                font-size: 2em;
                display: inline;
            }
        }

        #copyright {
            font-size: 0.75em;
            text-align: right;
            margin-left: 85%;
            margin-top: 40px;
            padding-bottom: 40px;
        }
    }
}

@media screen and (max-width: 950px)
{

    body {
        #wrapper {
            margin-left: 2%;
            margin-right: 2%;
        }

        #sidebar.dfs {
            float: initial;
            margin-right: 0em;
            width: 100%;

            #sidebar_list {
                padding-bottom: 15px;
                font-size: 1em;

                li {
                    display: inline;
                    padding-top: initial;
                    padding-right: 4%;
                }
            }
        }

        #main_content.dfs {
            width: 97%;
        }
    }
}