/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100em;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    chronicler.css Start
*/

body {
    background-image: url(../img/woodtexture5.jpg);
    background-repeat: repeat;

    #wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.5em;
        text-indent: 1.5em;
    }

    header.dfs {
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        margin-bottom: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;

        h1 {
            font-size: 3.8em;
            line-height: 0.8em;
        }

        hr {
            color: black;
            width: 50%;
        }

        #site_navigation {
            font-size: 2em;
            margin-top: 0;

            li {
                padding-right: 4%;
                display: inline;
            }

            .mobile_spacing {
                display: none;
            }
			
			.mobile_nav_side {
			
				padding-right: default;
			
			}
			
			.last_nav {
	
				padding-right: 0px;
	
			}
			
        }
		
    }
	
	#sideblocks {
	
		float: left;
		width: 15%;
		margin-right: 1.5%;
	
	}

    #sidebar.dfs {
        width: 100%;
        padding-top: 10px;
        text-align: center;
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        margin-bottom: 25px;

        #sidebar_label {
            font-size: 1.25em;
        }

        #sidebar_sublabel {
            font-size: 1em;
        }

        #sidebar_list {
            padding-top: 15px;
            padding-bottom: 10px;

            li {
                padding-top: 10px;
                display: list-item;
            }
        }

        .deactivated_link {
            text-decoration: line-through;
        }
		
    }
	
	#settings_bar.dfs {
		width: 100%;
		padding-top: 10px;
        text-align: center;
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
        margin-bottom: 25px;

        #settings_label {
            font-size: 1.25em;
        }

        #settings_sublabel {
            font-size: 1em;
        }

        #settings_list {
            padding-top: 15px;
            padding-bottom: 10px;

            li {
                padding-top: 10px;
                display: list-item;
			}
			
			input {
			
				width: 1.25em;
			
			}
        }
		
    }

    #main_content.dfs {
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
		float: left;
		width: 78.5%;
        text-align: left;
        padding-bottom: 20px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-bottom: 25px;

        #page_title {
			margin: auto;
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 2.5em;
        }

        #page_subtitle {
            text-align: center;
            margin-bottom: 20px;
            font-size: 2em;
        }

        #warning_note {
            font-size: 1.25em;
            line-height: 1.25em;
            font-style: italic;
            text-decoration: underline;
            text-align: center;
        }

        p {
            font-size: 1em;
            line-height: 1.5em;
        }

        #download_header {
            text-align: center;
            font-size: 1.5em;
            margin-top: 20px;
        }
		
		#text_download {
			width: 35%;
			margin-left: 7.5%;
		
			#text_download_header {
            	text-align: center;
            	font-size: 1.25em;
            	margin-top: 20px;
        	}		

        	#text_download_list {
            	text-align: center;
            	font-size: 1.25em;
				margin: auto;
            	margin-top: 20px;
            	margin-bottom: 20px;

            	li {
                	display: inline;
					margin-left: 1%;
					margin-right: 1%;
					text-decoration: underline;
            	}
        	}
		
		}
		
		.spoiler {
			
			background-color: black;
			border: 2px solid black;
			border-radius: 10px;
			padding: 0.5%;
			
			.multilinecode, .singlelinecode {
			
				width: default;
				margin: default;
			
			}
		
		}
		
		.italics_bold_underline {
		
			font-style: italic;
			font-weight: bold;
			text-decoration: underline;
		
		}
		
		.italics_bold {
		
			font-style: italic;
			font-weight: bold;
		
		}
		
		.bold_underline {
		
			font-weight: bold;
			text-decoration: underline;
		
		}
		
		.bold {
		
			font-weight: bold;
		
		}
		
		.italics_underline {
		
			font-style: italic;
			text-decoration: underline;			
		
		}
		
		.strikeout {
		
			text-decoration: line-through;
		
		}
		
		.italics {
		
			font-style: italic;
		
		}
		
		.underline {
		
			text-decoration: underline;
		
		}
		
		.pinned {
		
			border: 2px solid black;
			border-radius: 10px;
			padding: 10px;
			margin: auto;
			width: 75%;
			margin-bottom: 10px;
			
			img
			{
			
				width: 5%;
			
			}
			
			span {
			
				margin-top: auto;
				margin-bottom: auto;
			
			}
		
		}

        #chronicle_table.dfs {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 97%;
            table-layout: fixed;
            white-space: nowrap;

            tr th, tr td {
                text-align: center;
                padding-top: 30px;
                padding-bottom: 30px;
                border: solid 2px black;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #channel_name_column, #channel_owner_column,
            #warning_list_column, #date_column {
                width: 25%;
            }
        }
		
		#update_table.dfs {
			
			width: 60%;
			table-layout: default;
			margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;

            tr th, tr td {
                text-align: center;
                padding-top: 30px;
                padding-bottom: 30px;
                border: solid 2px black;
                white-space: normal;
                overflow: hidden;
            }
			
			#update_time{
			
				width: 33%;
			
			}
			
			#update_description{
			
				width: 67%;
			
			}
		
		}

        ol {
            list-style-type: decimal;
            margin: auto;
			width: 75%;
            padding-bottom: 15px;

            li {
                padding-top: 15px;
            }
        }

        #future_features {
            
            list-style-type: circle;
            margin-left: 10em;
            margin-right: 10em;

            li{
                padding-top: 15px;
            }

        }

        #getBot_link {
            font-size: 1.5em;
            text-decoration: underline;
            padding-top: 30px;
			margin: auto;
			width: 75%;
			text-align: center;
        }
		
		#backup_command_link {
		
			font-size: 0.75em;
            text-decoration: underline;
            padding-top: 40px;
			margin: auto;
			width: 75%;
			text-align: center;
		
		}

        form{
            margin: auto;
			width: 75%;
			
			table {
				padding-bottom: 20px;				
			
				tr {
				
					margin-bottom: 10px;
				
				}
			
			}
			
			
			input {
			
				width: 50%;
				margin: auto;
			
			}
        }

        #page_list {
            padding-bottom: 25px;
            font-size: 1.25em;
            text-align: center;

            li {
                padding-right: 3%;
                display: inline-flex;
            }

            #current_page {
                font-size: 2em;
                font-weight: bold;
            }
        }
    }

    footer.dfs {
        background-image: url(../img/seamless_paper.jpg);
        background-repeat: repeat;
		clear: both;
        margin-top: 40px;
        padding-top: 25px;
        padding-bottom: 10px;
		text-indent: default;
		overflow: auto;

        #footer_navigation {
            text-align: center;
			margin: auto;
			margin-top: 20px;
            margin-bottom: 30px;

            li {
                padding-right: 4%;
                font-size: 2em;
                display: inline;
            }
			
			.mobile_nav_side {
			
				padding-right: default;
			
			}
			
			.last_nav {
	
				padding-right: 0px;
			
			}
        }

        .mobile_spacing {
            display: none;
        }

		#property_disclaimer {
		
			font-size: 0.75em;
            margin: auto;
			width: 60%;
			text-align: center;
		
		}

        #copyright {
		
			float: right;
            font-size: 0.75em;
			margin-right: 5%;
            padding-top: 20px;
            padding-bottom: 10px;
			
        }
    }
	
	.multilinecode, .singlelinecode {
		
		background-color: grey;
		border: 2px solid black;
		border-radius: 10px;
		padding: 0.5%;
		width: 75%;
		margin: auto;
		
	}
	
}

@media screen and (max-width: 1320px)
{

	footer.dfs {

        #copyright {
                
            margin-right: 5%;

        }
    }

}

@media screen and (max-width: 950px)
{

    body {
        #wrapper {
            margin-left: 2%;
            margin-right: 2%;
        }

        header.dfs {

            #site_navigation {
                margin-top: 15px;
				
				
			
				.mobile_nav_side {
			
					padding-right: 0px;
			
				}

                .mobile_spacing {
                    display: block;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
		
		#sideblocks{
		
			float: initial;
			width: 100%;
		
		}

        #sidebar.dfs {
            margin-right: 0em;

			#sidebar_label {
				
				font-size: 1.5em;
			
			}
			
			#sidebar_sublabel {
			
				font-size: 1.25em;
			
			}

            #sidebar_list {
                padding-bottom: 15px;
                font-size: 1em;

                li {
                    display: inline;
                    padding-top: initial;
                    padding-right: 4%;
                }
            }
        }
		
		#settings_bar.dfs {
            margin-right: 0em;
			
			#settings_label {
			
				font-size: 1.5em;
			
			}

            #settings_list {
                padding-bottom: 15px;
                font-size: 1em;

                li {
                    display: inline;
                    padding-top: initial;
                    padding-right: 4%;
                }
            }
		
    	}

        #main_content.dfs {
            width: 95%;
        }

        footer.dfs {
            .mobile_spacing {
                display: block;
                padding-top: 7.5px;
                padding-bottom: 7.5px;
            }
			
			.mobile_nav_side {
			
				padding-right: 0px;
			
			}

            #copyright {
                
                margin-right: 5%;

            }
        }
    }
}

@media screen and (max-width: 600px)
{

	#copyright {
                
        margin-right: 8%;

    }

}